.block {
    box-sizing: border-box;
    width: 15%;
    height: 100vh;
    background: #d9d9d9;
    display: flex;
    flex-direction: column;
    padding-right: 4px;
}

.menuBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #595959;
}

.menuBlock:hover{
    border-right: 4px solid #1890ff;
    color: #1890ff;
}

a {
    text-decoration: none;
    transition-duration: 0.5s;
}