.block {
    box-sizing: border-box;
    width: 15%;
    height: 100vh;
    background: #0f1419;
    display: flex;
    flex-direction: column;
}

.menuBlock {
    margin-left: 20px;
    display: flex;
    width: 100%;
    height: 80px;
    color: #fcffff;
    transition: 0.5s;
}

.menuBlock:hover{
    color: #3ca3e0;
}

a {
    text-decoration: none;
}

.h2{
    color: #fcffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #242e39;
}

.logout {
    margin-top: auto;
}

.signIn {
    color: #fcffff ;
    margin-left: 20px;
    display: flex;
    width: 100%;
    height: 50px;
    transition: 0.5s;
}

.signIn:hover {
    color: #3ca3e0;
}

.icon {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}