
.header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f6f7;
    padding: 10px 20px;
    position: relative;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-family: cursive;
}

.enter {

}