.formDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ebeef2;
    padding: 16px;
    border: 1px solid #ccc;
    z-index: 9999;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнення */
    z-index: 999; /* Зверху всіх інших елементів */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.input {
    box-sizing: border-box;
    width: 45%;
    height: 50px;
    margin: 10px;
    padding: 0;
    border: 2px solid #c8c8c8;
    border-radius: 3px;
}